.header_content{
  padding: 75px 5%;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../../assets/images/header_bg.jpg');
  background-position: center;
  background-size: cover;
  .header_content_logo{
    padding: 0 15px;
    a{
      &:hover{
        img{
          transform: scale(.95) rotate(-5deg);
        }
      }
      img{
        transition: .25s ease all;
        height:200px;
      }
    }
  }
  .header_content_searchbar{
    flex:3;
    display: flex;
    max-width: 700px;
    position: relative;
    .header_content_searchbar_dropdown{
      z-index: -5;
      opacity: 0;
      position: absolute;
      left: 0;
      top:100%;
      width:calc(100% - 10px);
      box-sizing: border-box;
      max-width: 700px;
      background-color:rgba(255,255,255,.8);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      max-height: 350px;
      overflow: auto;

      .header_content_searchbar_dropdown_item{
      align-items: center;
        display: flex;
        width:100%;
        padding:15px;
        box-sizing: border-box;
        transition: .35s ease all;
        cursor: pointer;
        justify-content: space-between;
        //margin-bottom: 15px;
        &:hover{
          background:#fff;
        }
        img{
          width:80px;
          border-radius: 10px;
        }
      }
      &.active{
        opacity: 1;
        z-index: 5;
      }
    }
    label{
      margin: 0 auto;
      display: block;
      width:90%;
      input{
        width:100%;
        display: block;
        padding: 10px 15px;
        box-sizing: border-box;
        border-radius: 10px;
        border:none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    button{
      border:none;
      transform:translateX(-10px);
      padding-left: 5px;
      padding-right: 5px;
      width:10%;
      border-radius: 10px;
      background-color: $green_light;
      color:#fff;
      font-weight: bold;
      transition: .25s ease all;
      cursor: pointer;
      box-sizing: content-box;
      text-align: center;
      border-bottom-right-radius: 0;
      &:hover{
        padding-left: 15px;
        text-indent: -15px;
      }
    }
  }
  .header_content_cart{
    padding:0 50px;
    background-color: $green_dark;
    border-radius:10px;
    border-bottom-left-radius: 0;
    color:#fff;
    font-weight: normal;
    display: flex;
    align-items: center;
    position: relative;
    padding:10px 15px;
    border-bottom-right-radius: 0;
    .header_content_cart_price{
      .price{
        margin-right:5px;
      }
      .currency{
        margin-right: 15px;
      }
    }
    .header_content_cart_dropdown{
      position: absolute;
      opacity: 0;
      z-index: -5;
      right:0;
      width:250px;
      border-radius: 5px;
      border-top-right-radius: 0;
      top:100%;
      padding:0 15px;
      color:$green_light;
      background-color: rgba(255,255,255,.8);
      max-height: 300px;
      overflow-y: auto;
      transition: .25s ease opacity;
      &.active{
        z-index: 5;
        opacity: 1;
      }
      .header_content_cart_dropdown_item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom:1px solid $green_light;
        margin-bottom: 5px;
        padding: 15px 0px;
        box-sizing: border-box;
        position: relative;
        .header_content_cart_dropdown_item_remove{
          position: absolute;
          right:0;
          top:0;
          color:red;
          cursor: pointer;
          transition: .25s ease all;
        }
        .header_content_cart_dropdown_item_image{
          width:90px;
          img{
            border-radius: 10px;
            width:100%;
          }
        }
        .header_content_cart_dropdown_item_content{
          flex:1;
          padding: 0 10px;
          box-sizing: border-box;
          .header_content_cart_dropdown_item_price{
            color:#000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .priceAmount{
              background-color: #fff;
              padding: 0 10px;
            }
            .cart_amount{
              display: flex;
            }
            .handleAmount{
              cursor: pointer;
              color:$green_dark;
              background-color: #ccc;
              width: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 14px;
              transition: .25s ease all;
              &:first-of-type{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
              }
              &:last-of-type{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              }
              &:hover{
                background:$green_dark;
                color:#fff;
              }
            }
            span.red{
              color:red;
            }
          }
        }
      }
    }
  }
}
