@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
$green_light: #00914D;
$green_dark: #005D31;
body {
  font-family: 'Baloo Chettan 2', cursive;
}
@import './components/Header/TopBar';
@import './components/Header/HeaderContent';

@import './components/shared-utilities/ProductList';


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: $green_light;
  outline: 1px solid $green_light;
}
header_content_searchbar_dropdown::-webkit-scrollbar {
  width: 5px;
}
header_content_searchbar_dropdown::-webkit-scrollbar-track {
  background-color: #fff;
}
header_content_searchbar_dropdown::-webkit-scrollbar-thumb {
  background-color: $green_light;
  outline: 1px solid $green_light;
}
header_content_cart_dropdown::-webkit-scrollbar {
  width: 5px;
}
header_content_cart_dropdown::-webkit-scrollbar-track {
  background-color: #fff;
}
header_content_cart_dropdown::-webkit-scrollbar-thumb {
  background-color: $green_light;
  outline: 1px solid $green_light;
}
